.leftSideBar {
    flex: 2;
    background-color: #fff;
    ul {
        li {
            display: flex;
            gap: 10px;
            align-items: center;
            padding: 10px;
            img {
                width: 30px;
            }
            .userIcon {
                height: 30px;
                border-radius: 50%;
                object-fit: cover;
            }
        }
    }
}