.loginContainer {
    display: flex;
    height: 60vh;
    box-shadow: 0 0 10px silver;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    overflow: hidden;
    border-radius: 10px;
    background-color: white;
    width: 50vw;
    border: 1px solid silver;
    .heroText {
        flex: 1;
        padding: 15px;
        background: linear-gradient(rgba(0,0,0, 0.6), rgba(0,0,0,0.1)), url('../../assets/user.jpg');
        background-size: cover;
        background-position: center;
        display: flex;
        justify-content: center;
        flex-direction: column;
        color: white;
        h1{
            font-size: 40px;
            line-height: 1.2;
            margin-bottom: 10px;
        }
        p{
            font-size: 18px;
        }
    }
    .loginForm {
        padding: 15px;
        background-color: #fff;
        flex: 1;
        align-self: center;
        h1{
            margin: 10px 0;
            font-weight: 400;
            font-size: 24px;
        }
        form {
            display: flex;
            flex-direction: column;
            gap: 10px;
            .errorMessage {color: tomato;}
            input{
                padding: 10px;
                background-color: none;
                border-radius: 5px;
                border: 1px solid silver;
            }

            button {
                background-color: rgb(26, 109, 227, .9);
                cursor: pointer;
                display: block;
                margin: 0;
                &:hover {
                    background-color: #1a6de3;
                }
            }
            button:disabled {
                cursor: not-allowed;
            }
            a {
                align-self: center;
                text-decoration: none;
            }
        }
        hr {
            margin: 15px 0;
        }
        button {
            background-color: rgb(56, 155, 36,0.9);
            padding: 10px;
            color: #fff;
            border: 0;
            outline: 0;
            border-radius: 5px;
            display: block;
            margin: 0 auto;
            cursor: pointer;
            &:hover {
                background-color: rgb(56, 155, 36);
            }
        }
    }
}